body{background-image:url(../img/img.jpg);
}


.container{height:45px;width:100%;
    
    display: flex ;justify-content: space-between; 
    margin:  0px;flex-wrap:wrap;
}


.hijo{color: white;margin: 10px 10px;
    
}

 
a:hover {color: white ;
 }


a {color: rgb(231, 221, 221 );
    text-decoration: none;
}

.padre{display:flex;
    justify-content:space-around;
    height: 43px;width:300px ;
 }

nav{background-color: black;
    padding:0;
    margin: 0;
}


*{padding: 0;
margin: 0;
}


.container2{display:flex ;
justify-content: space-evenly;
flex-wrap:wrap;
}


.padre2{justify-content:space-around;
height: 90%;
height: 60%;
border: 1px ;
}


.caja{border: 1px solid black;
    margin: 5px;
    height: 130px;
    width: 160px;
}


img{height: 130px;
    width: 160px;}